.header {
	display: flex;
	height: 10vh;
	margin: auto;
	align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
	z-index: 1;
}
.logo-container,
.nav-links,
.cart {
	display: flex;
}
.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin-top: 30px;
	display: flex;
	padding-left: 10%;
}
.company-name{
	color: #0f169b;
	font-weight: bold;
}
.logo-image{
	height: 60px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}