.header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}
.logo-container,
.nav-links,
.cart {
	display: flex;
}
.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
	margin-top: 30px;
	display: flex;
}
.company-name{
	color: #0f169b;
	font-weight: bold;
}
.logo-image{
	height: 60px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}